<h1>Stupid Coach Answer</h1>


<h1>YOUR QUESTION IS: <%= @question[:question] %></h1>



<!-- <form action="/answer" method="get">
  <input type="text" name="question" placeholder="What is your question?">
  <input type="submit">
</form>
 -->

<%= link_to "Go back!", ask_path %>
